<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dengyong.projects.construction.workplace.mapper.WorkplaceMapper">
					

	<resultMap type="Workplace" id="WorkplaceResult">
		<id     property="workplaceId"       column="Workplace_id"      />
		<result property="workplaceName"    column="Workplace_name"   />
		<result property="workplacePlace"  column="Workplace_place"  />
		<result property="workplaceStatus"       column="Workplace_status"       />
		<result property="workplaceFlag"      column="Workplace_flag"     />
		<result property="createUser"     column="create_user"    />
		<result property="createTime"   column="create_time"  />
		<result property="updateUser"     column="update_user"    />
		<result property="updateTime"   column="update_time"  />
		<result property="remark"       column="remark"       />
		<result property="workplaceSort"       column="workplace_sort"       />
	</resultMap>
	
	<sql id="selectWorkplaceVo">
        select Workplace_id, Workplace_name, Workplace_place, Workplace_status, Workplace_flag, create_user, create_time, update_user ,update_time ,remark ,workplace_sort
		from sms_workplace 
    </sql>
    
    <sql id="selectWorkplaceNameVo">
        select  Workplace_name
		from sms_workplace 
    </sql>
	<select id="selectWorkplaceAll" resultMap="WorkplaceResult">
		<include refid="selectWorkplaceVo"/>
	</select>
	<select id="selectWorkplaceList" parameterType="Workplace" resultMap="WorkplaceResult">
	    <include refid="selectWorkplaceVo"/>
	    where workplace_flag = '0'
		<where>
			<if test="workplaceId != null and workplaceId != ''">
				AND workplace_id like concat('%', #{workplaceId}, '%')
			</if>
			<if test="workplaceStatus != null and workplaceStatus != ''">
				AND workplace_status = #{workplaceStatus}
			</if>
			<if test="workplacePlace != null and workplacePlace != ''">
				AND workplace_place like concat('%', #{workplacePlace}, '%')
			</if>
			<if test="workplaceName != null and workplaceName != ''">
				AND workplace_name like concat('%', #{workplaceName}, '%')
			</if>
		</where>
	</select>
	
	<select id="checkWorkplaceNameUnique" parameterType="String" resultMap="WorkplaceResult">
		<include refid="selectWorkplaceVo"/>
		 where workplace_name=#{workplaceName}
	</select>
	
	
	<select id="selectWorkplaceById" parameterType="Long" resultMap="WorkplaceResult">
		<include refid="selectWorkplaceVo"/>
		where workplace_id = #{workplaceId}
	</select>
	
	<select id="selectWorkplaceNameById" parameterType="Long" resultMap="WorkplaceResult">
		<include refid="selectWorkplaceNameVo"/>
		where workplace_id = #{workplaceId}
	</select>
 	
 	<delete id="deleteWorkplaceByIds" parameterType="Long">
 		update sms_workplace set workplace_flag = '2' where workplace_id in
 		<foreach collection="array" item="workplaceId" open="(" separator="," close=")">
 			#{workplaceId}
        </foreach> 
 	</delete>
 	
 	<update id="updateWorkplace" parameterType="Workplace">
 		update sms_workplace
 		<set>
 			<if test="workplaceName != null and workplaceName != ''">workplace_name = #{workplaceName},</if>
 			<if test="workplacePlace != null and workplacePlace != ''">workplace_place = #{workplacePlace},</if>
 			<if test="workplaceSort != null and workplaceSort != ''">workplace_sort = #{workplaceSort},</if>
 			<if test="workplaceStatus != null and workplaceStatus != ''">workplace_status = #{workplaceStatus},</if>
 			<if test="updateBy != null and updateBy != ''">update_user = #{updateBy},</if>
 			<if test="remark != null and remark != ''">remark = #{remark},</if>
 			update_time = sysdate()
 		</set>
 		where workplace_id = #{workplaceId}
	</update>
 	
 	<insert id="insertWorkplace" parameterType="Workplace" useGeneratedKeys="true" keyProperty="workplaceId">
 		insert into sms_workplace(
 			<if test="workplaceName != null and workplaceName != ''">workplace_name,</if>
 			<if test="workplacePlace != null and workplacePlace != ''">workplace_place,</if>
 			<if test="workplaceSort != null and workplaceSort != ''">workplace_sort,</if>
 			<if test="workplaceStatus != null and workplaceStatus != ''">workplace_status,</if>
 			<if test="createBy != null and createBy != ''">create_user,</if>
 			<if test="remark != null and remark != ''">remark,</if>
 			create_time
 		)values(
 			<if test="workplaceName != null and workplaceName != ''">#{workplaceName},</if>
 			<if test="workplacePlace != null and workplacePlace != ''">#{workplacePlace},</if>
 			<if test="workplaceSort != null and workplaceSort != ''">#{workplaceSort},</if>
 			<if test="workplaceStatus != null and workplaceStatus != ''">#{workplaceStatus},</if>
 			<if test="createBy != null and createBy != ''">#{createBy},</if>
 			<if test="remark != null and remark != ''">#{remark},</if>
 			sysdate()
 		)
	</insert>
	
</mapper> 