<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dengyong.projects.system.user.mapper.UserWorkplaceMapper">

	<resultMap type="UserWorkplace" id="UserWorkplaceResult">
		<result property="userId"     column="user_id"      />
		<result property="workplaceId"     column="workplace_id"      />
	</resultMap>

	<delete id="deleteUserPostByUserId" parameterType="Long">
		delete from sms_user_post where user_id=#{userId}
	</delete>
	
	<select id="countUserWorkplaceById" resultType="Integer">
	    select count(1) from sms_user_workplace where workplace_id=#{workplaceId}  
	</select>
	
	<delete id="deleteUserPost" parameterType="Long">
 		delete from sms_user_post where user_id in
 		<foreach collection="array" item="userId" open="(" separator="," close=")">
 			#{userId}
        </foreach> 
 	</delete>
	
	<insert id="batchUserPost">
		insert into sms_user_post(user_id, post_id) values
		<foreach item="item" index="index" collection="list" separator=",">
			(#{item.userId},#{item.postId})
		</foreach>
	</insert>
	
</mapper> 