<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="workattendance-form">
					<div class="select-list">
						<ul>
							<li>
								工地名称：<input type="text" name="workplaceName"/>
							</li>
							<li>
								用户名称：<input type="text" name="userName"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="construction:workattendance:add">
	                <i class="fa fa-plus"></i> 新增
	            </a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="construction:workattendance:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="construction:workattendance:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('construction:workattendance:edit')}]];
		var removeFlag = [[${@permission.hasPermi('construction:workattendance:remove')}]];
		var prefix = ctx + "construction/workattendance";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        sortName: "createDate",
		        showFooter:true ,
		        modalName: "考勤",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'workattendanceId',
		            title: '考勤编号',
		            sortable: true
		        },
		        {
		            field: 'workattendanceType',
		            title: '考勤种类',
		        },
		        {
		            field: 'user.userName',
		            title: '用户名称',
		        },
		        {
		            field: 'workplace.workplaceName',
		            title: '工地名称',
		        },
		        {
		            field: 'workHour',
		            title: '工时',
		            align: 'center',
		            footerFormatter: function(rows){
		                var sum = 0;
		                for (var i=0;i<rows.length;i++) {
		                  sum += rows[i].workHour
		                }
		                return sum;
		              }
		        },
		        {
		            field: 'createUser',
		            title: '创建人员',
		        },
		        {
		            field: 'createDate',
		            title: '创建时间',
		            sortable: true
		        },
		        {
		            field: 'remark',
		            title: '备注',
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.workattendanceId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.workattendanceId + '\')"><i class="fa fa-remove"></i>删除</a>');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>